:root {
  --marquee-x: 0px;
}

::selection {
  background-color: white;
  color: black;
}

a {
  color: rgb(66, 150, 228);
}

html {
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  max-width: 100%;
  width: 100%;
  font-size: 11pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;
}

html::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../fonts/inconsolata-v20-latin-regular.woff2') format('woff2'),
    /* Modern Browsers */ url('../fonts/inconsolata-v20-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/inconsolata-v20-latin-regular.ttf')
      format('truetype'); /* Safari, Android, iOS */
}

#container {
  padding: 0 1em 3em 1em;
}

#container output {
  clear: both;
}

#container output h1 {
  font-size: 1.7em;
  letter-spacing: 4px;
}

#container output h2 {
  letter-spacing: 4px;
}

#container output h3 {
  letter-spacing: 4px;
  margin: 0;
}

#container output pre {
  margin-left: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

#pen {
  background-color: black;
  white-space: nowrap;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  overflow-x: hidden;
  top: 0;
  z-index: 150;
}

#head {
  position: relative;
  background-color: black;
  z-index: 666;
}

@keyframes slide {
  from {
    left: 0px;
  }
  to {
    left: var(--marquee-x);
  }
}
@-webkit-keyframes slide {
  from {
    left: 0px;
  }
  to {
    left: var(--marquee-x);
  }
}

#state {
  margin-left: 7px;
}

#ticker {
  position: relative;
  margin-left: 7px;
  top: 0;
  left: 0;
  width: 100%;
  animation-name: slide;
  animation-duration: 45s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 10s;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 45s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 10s;
}

#logo {
  margin: 0 1em 1em 0;
  width: 5em;
}

.logo {
  margin: 0 1em 1em 0;
  width: 5em;
  float: left;
}

.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}

.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.core {
  color: rgb(196, 63, 63);
}

.root {
  color: rgb(71, 199, 125);
}

.fold {
  color: rgb(66, 150, 228);
}

.good {
  color: rgb(176, 135, 223);
}

.bad {
  background-color: rgb(176, 135, 223);
}

.handle {
  margin-right: 1ch;
}

.hidden {
  display: none;
}

.missing {
  color: black;
  background-color: white;
}

.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
  padding: 0;
  margin-left: 7px;
}

.help {
  height: auto;
  -webkit-column-width: 0.5em;
  -moz-column-width: 0.5em;
  -o-column-width: 0.5em;
  column-width: 0.5em;
  column-count: 3;
  width: 25em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
}

.content .tooltip {
  visibility: hidden;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 100;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}

.content:hover .tooltip {
  visibility: visible;
}

#void {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#atom {
  position: relative;
  margin: 0 1em 1em 0;
  width: 5em;
  float: left;
  height: 5em;
}
#nucleus,
.orbit,
.electron,
.orbitTrain,
.electronTrain {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 75%;
  margin: auto;
}
#nucleus {
  background: #fff;
  box-shadow: 0 0 15px #fff;
  -webkit-animation: shining 2s infinite linear;
  -moz-animation: shining 2s infinite linear;
  -ms-animation: shining 2s infinite linear;
  -o-animation: shining 2s infinite linear;
  animation: shining 2s infinite linear;
}
.orbit:before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 0.123em solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.orbit {
  width: 5em;
  height: 5em;
  border: 0;
  transform-style: preserve-3d;
  -webkit-animation: orbitSpecial 3s infinite linear;
  -moz-animation: orbitSpecial 3s infinite linear;
  -ms-animation: orbitSpecial 3s infinite linear;
  -o-animation: orbitSpecial 3s infinite linear;
  animation: orbitSpecial 3s infinite linear;
}
.orbit .electron {
  position: relative;
  top: 2.3em;
  width: 0.4em;
  height: 0.4em;
  background: #fff;
  box-shadow: 0 0 30px #fff;
  border-radius: 75%;
  transform: translateX(100px);
  -webkit-animation: electronAnimation 3s infinite linear;
  -moz-animation: electronAnimation 3s infinite linear;
  -ms-animation: electronAnimation 3s infinite linear;
  -o-animation: electronAnimation 3s infinite linear;
  animation: electronAnimation 3s infinite linear;
}
.orbit:nth-child(4) {
  transform: rotateY(65deg) rotateX(5deg);
  animation-delay: -1s;
}
.orbit:nth-child(4) .electron {
  animation-delay: -1s;
}
.orbit:nth-child(2) {
  transform: rotateY(65deg) rotateX(-54deg);
  animation-delay: -1s;
  animation-duration: 1s;
}
.orbit:nth-child(2) .electron {
  animation-duration: 1s;
}
.orbit:nth-child(3) {
  transform: rotateY(65deg) rotateX(54deg);
}
@-webkit-keyframes electronAnimation {
  0% {
    transform: rotateZ(0deg) translateX(2.45em) rotateZ(0deg) rotateY(-65deg);
  }
  100% {
    transform: rotateZ(360deg) translateX(2.45em) rotateZ(-360deg)
      rotateY(-65deg);
  }
}
@-moz-keyframes electronAnimation {
  0% {
    transform: rotateZ(0deg) translateX(2.45em) rotateZ(0deg) rotateY(-65deg);
  }
  100% {
    transform: rotateZ(360deg) translateX(2.45em) rotateZ(-360deg)
      rotateY(-65deg);
  }
}
@-ms-keyframes electronAnimation {
  0% {
    transform: rotateZ(0deg) translateX(2.45em) rotateZ(0deg) rotateY(-65deg);
  }
  100% {
    transform: rotateZ(360deg) translateX(2.45em) rotateZ(-360deg)
      rotateY(-65deg);
  }
}
@-o-keyframes electronAnimation {
  0% {
    transform: rotateZ(0deg) translateX(2.45em) rotateZ(0deg) rotateY(-65deg);
  }
  100% {
    transform: rotateZ(360deg) translateX(2.45em) rotateZ(-360deg)
      rotateY(-65deg);
  }
}
@keyframes electronAnimation {
  0% {
    transform: rotateZ(0deg) translateX(2.45em) rotateZ(0deg) rotateY(-65deg);
  }
  100% {
    transform: rotateZ(360deg) translateX(2.45em) rotateZ(-360deg)
      rotateY(-65deg);
  }
}
@-webkit-keyframes orbitSpecial {
  0% {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  35% {
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  70% {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  100% {
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@-moz-keyframes orbitSpecial {
  0% {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  35% {
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  70% {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  100% {
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@-ms-keyframes orbitSpecial {
  0% {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  35% {
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  70% {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  100% {
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@-o-keyframes orbitSpecial {
  0% {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  35% {
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  70% {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  100% {
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@keyframes orbitSpecial {
  0% {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  35% {
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  70% {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  100% {
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}
@-webkit-keyframes shining {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 40px #fff;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}
@-moz-keyframes shining {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 40px #fff;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}
@-ms-keyframes shining {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 40px #fff;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}
@-o-keyframes shining {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 40px #fff;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}
@keyframes shining {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 40px #fff;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}
